body
  background-image: url("bg.png")
  background-attachment: fixed
  margin-top: 50px
  overflow-x: hidden
  @media (max-width: 960px)
    margin: 0
    padding: 0

section
  height: 100%
  //border: 2px solid red

//=====Home Section=====
#home
  padding-bottom: 100px
  @media (max-width: 960px)
    margin-top: 60px

//=====Profile Section=====
#profile-icon
  background: #9300ff

#git-profile
  border-bottom: 1px solid rgba(186, 186, 186, 0.5)
  font-size: 16px
  margin: 10px 0
  width: 260px
  padding-bottom: 4px
  &:hover
    cursor: pointer
    border-bottom: 1px solid black
  a
    color: black
    text-decoration: none

//=====Education Section=====
#edu-icon
  background: #07b500

//=====Contact Section=====
#contact-icon
  background: #07b500
  i
    font-weight: bold

//=====Return Section=====
#return-icon
  background: #ffad00
  &:hover
    cursor: pointer

#return-title
  &:hover
    cursor: pointer

