body
  background-image: url("bg.png")
  margin-top: 50px
  overflow-x: hidden
  @media (max-width: 960px)
    margin: 0
    padding: 0

section
  height: 100%
  //border: 2px solid red

#home
  padding-bottom: 100px
  @media (max-width: 960px)
    margin-top: 60px

.section-icon
  position: absolute
  top: 18px
  right: 45px
  height: 40px
  line-height: 40px
  width: 40px
  text-align: center
  border-radius: 100%
  background: #9300ff
  color: white
  font-size: 18px
  @media (max-width: 960px)
    display: none

.title-icon
  position: absolute
  left: -13px
  top: 23px
  height: 30px
  line-height: 30px
  color: rgb(184, 184, 184)

.section-title
  border-left: 3px solid rgba(186, 186, 186, 0.5)
  position: relative
  height: 76px
  h4
    margin: 0
    margin-left: 45px
    height: 76px
    line-height: 76px
    font-weight: bold

.section-content
  border: 2px solid black
  //@extend .section-title
